.classBox{
margin: 0 0 10px 0;

    padding: 10px;
    border: 1px solid #000;
border-radius: 8px;
width: 250px;
}
.inputBlock{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2px;
margin-bottom: 8px;
}
.error{
    font-weight: normal;
    font-size: 10px;
    color: red;

}
.btnSubmit{
    padding: 4px 8px;
    border-radius: 8px;
    display: block;
/* align-items: center; */
    margin: 0 auto;
}